* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

   --color-cinza: rgba(255, 255, 255, 0.20);
   --color-blue: hsl(195, 91%, 25%);
   --color-white: hsl(0, 0%, 100%);
}

body {
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;
    height: 100vh;
}

main .container {
  width: min(1440px, 100%);
  margin-inline: auto;
}
main {
  width: 100%;

  height: calc(100vh - 15rem);

  overflow: auto;
}

.page {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100%;

  margin-inline: auto;
  box-sizing: content-box;
  flex-direction: column;
}

#gato:hover {
  transform: scale(1.1);
}

.cat {
  overflow: hidden;
  border-radius: 0.8rem;
}
#gato {
  width: 100%;
  transition: 0.3s;
  
  max-height: 45rem;

  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.logo:hover {
  filter: brightness(1.8) contrast(1.1);
  transition: 1s;
}

header {
  display: flex;
  align-items: center;

  gap: 2.5rem;
  font-weight: 600;
  background-color: var(--color-blue);
  padding: 1.6rem 2.8rem;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;

  color: var(--color-white);
}

.input-wrapper input {
  padding: 1.2rem;
  width: 100%;
  border: 0;
  border-radius: 0.4rem;

  font-size: 1.6rem;
  font-family: Mulish;
  font-weight: 600;
  font-style: normal;
  background: var(--color-cinza);

  color: var(--color-white);
}
.input-wrapper input::placeholder {
  color: var(--color-white);
}

header img {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;

  border-radius: 50%;
}

main .wrap p {
  font-size: clamp(1rem, 0.9468rem + 1.1881vw, 2.2rem);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  display: grid;
  gap: 2.5rem;
}

main p, .title p {
  font-size: 1.6rem;
}

.container h1, h2 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
}

.joia {
  margin-bottom: 3.2rem;
}

.col-2, .title p, section {
  padding-left: 2.2rem;
  padding-right: 2.6rem;
}

.title p {
  margin-bottom: 3.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
}

.item {
  display: flex;
  gap: 1.6rem;
  height: 8.4rem;
  margin-bottom: 3.2rem;
}
.item img:hover {
  transform: scale(1.1);
}

.item img {
  transition: 0.3s;
}

section {
  width: 38.4rem;
  height: 61.5rem;
}
section h1{
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  margin-top: 0;
}
section h2 {
  font-size: 1.8rem;
}
section p {
  width: 21.5rem;
  font-size: 1.4rem;
  font-weight: 400;
}

footer {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 1.6rem;

}

footer p {

  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

@media (min-width: 1160px) {

  body {
    width: 100%;
    background: #F4FCFF;
  }

  .app {
    width: 100%;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main section"
    "footer footer footer";
  }

  .app header {
    grid-area: header;
  }

  form {
    width: 100%;
  }

  .app main {
    grid-area: main;
    margin: 4.4rem 8rem;
  }

  .col-2, .title p, section {
    padding: 0;
  }

  .app section {
    margin: 0rem 0 10.0rem;
    
  }

  .app footer {
    grid-area: footer;
  }

  .container {
    display: flex;
    gap: 3.4rem;
    align-items: flex-start;
    padding: 4.2rem 11.2rem;

  }

  .joia {
    display: flex;
    justify-content: center;
    justify-content: end;
    gap: 1.2rem;
  }

  .col-2 {
    display: flex;
    justify-content: space-between;
  }

  main .title {
    width: 80rem;
    height: 36.4rem;
    margin-top: 3.2rem;
    padding: 0;
  }

  main .title p {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
  }

  main {
    display: flex;
  }

 
}
